<table class="table table-borderless text-center" id="sizesTable">
    <thead>
        <tr>
            <th>SIZE</th>
            <th>SLEEVE LENGTH</th>
            <th>CENTRE FRONT</th>
            <th>SHOULDER</th>
        </tr>        
    </thead>
    <tbody>
        <tr>
            <td>S</td>
            <td>55</td>
            <td>68</td>
            <td>19</td>
        </tr>
        <tr>
            <td>M</td>
            <td>56</td>
            <td>69</td>
            <td>20</td>
        </tr>
        <tr>
            <td>L</td>
            <td>57</td>
            <td>70</td>
            <td>21</td>
        </tr>
        <tr>
            <td>XL</td>
            <td>58</td>
            <td>71</td>
            <td>22</td>
        </tr>
    </tbody>
</table>

